snippet // "Insert a comment" bA
<!-- ${1} -->
endsnippet

snippet // "Insert a comment"
<!-- ${1} -->
endsnippet

snippet tb "Bold text"
__${1}__
endsnippet

snippet ti "Itallic text"
_${1}_
endsnippet

snippet it "Item" bA
* [ ] ${1}
endsnippet

snippet ix "Item" bA
* [x] ${1}
endsnippet

snippet a "Add a link"
<a name="${1}" />
endsnippet
